In [33]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from IPython.display import display
from sklearn import metrics 
import math
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

In [62]:
df=pd.read_csv("scores.csv",low_memory=False,parse_dates=["age"])
df

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
0,condition_1,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19.0,19.0
1,condition_2,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24.0,11.0
2,condition_3,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24.0,25.0
3,condition_4,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20.0,16.0
4,condition_5,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26.0,26.0
5,condition_6,7,1,35-39,2.0,2.0,2.0,6-10,1.0,2.0,18.0,15.0
6,condition_7,11,1,20-24,1.0,NaN,2.0,11-15,2.0,1.0,24.0,25.0
7,condition_8,5,2,25-29,2.0,NaN,2.0,11-15,1.0,2.0,20.0,16.0
8,condition_9,13,2,45-49,1.0,NaN,2.0,6-10,1.0,2.0,26.0,26.0
9,condition_10,9,2,45-49,2.0,2.0,2.0,6-10,1.0,2.0,28.0,21.0
10,condition_11,14,1,45-49,2.0,2.0,2.0,6-10,1.0,2.0,24.0,24.0
11,condition_12,12,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,25.0,21.0
12,condition_13,14,2,35-39,1.0,2.0,2.0,11-15,2.0,2.0,18.0,13.0
13,condition_14,14,1,60-64,1.0,2.0,2.0,6-10,2.0,2.0,28.0,19.0
14,condition_15,13,2,55-59,2.0,2.0,2.0,11-15,1.0,1.0,14.0,18.0
15,condition_16,16,1,45-49,2.0,2.0,2.0,11-15,1.0,2.0,13.0,17.0
16,condition_17,13,1,50-54,1.0,2.0,2.0,6-10,1.0,2.0,17.0,15.0
17,condition_18,13,2,40-44,3.0,2.0,2.0,11-15,2.0,2.0,18.0,15.0
18,condition_19,13,2,50-54,2.0,2.0,1.0,16-20,2.0,2.0,26.0,21.0
19,condition_20,13,1,30-34,2.0,1.0,1.0,6-10,1.0,2.0,27.0,25.0
20,condition_21,13,2,35-39,2.0,2.0,1.0,6-10,2.0,2.0,26.0,21.0
21,condition_22,14,1,65-69,2.0,2.0,1.0,,2.0,2.0,29.0,28.0
22,condition_23,16,1,30-34,2.0,2.0,1.0,16-20,2.0,2.0,29.0,23.0
23,control_1,8,2,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,control_2,20,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
25,control_3,12,2,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
26,control_4,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
27,control_5,13,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
28,control_6,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
29,control_7,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
30,control_8,13,2,40-44,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
31,control_9,13,2,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
32,control_10,8,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
33,control_11,13,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
34,control_12,14,1,60-64,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
35,control_13,13,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,control_14,13,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
37,control_15,11,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
38,control_16,13,2,40-44,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
39,control_17,9,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
40,control_18,13,2,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
41,control_19,13,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
42,control_20,13,1,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
43,control_21,8,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
44,control_22,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
45,control_23,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
46,control_24,13,2,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
47,control_25,13,1,65-69,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
48,control_26,13,1,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
49,control_27,13,2,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
50,control_28,16,2,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
51,control_29,13,2,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
52,control_30,9,2,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
53,control_31,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
54,control_32,14,2,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN

In [64]:
df=df.sort_values(by="age")

In [65]:
df

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
46,control_24,13,2,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
45,control_23,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
40,control_18,13,2,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
6,condition_7,11,1,20-24,1.0,NaN,2.0,11-15,2.0,1.0,24.0,25.0
29,control_7,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
53,control_31,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
54,control_32,14,2,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
3,condition_4,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20.0,16.0
44,control_22,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
7,condition_8,5,2,25-29,2.0,NaN,2.0,11-15,1.0,2.0,20.0,16.0
23,control_1,8,2,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,control_6,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
26,control_4,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
27,control_5,13,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
19,condition_20,13,1,30-34,2.0,1.0,1.0,6-10,1.0,2.0,27.0,25.0
25,control_3,12,2,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
31,control_9,13,2,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
22,condition_23,16,1,30-34,2.0,2.0,1.0,16-20,2.0,2.0,29.0,23.0
24,control_2,20,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
32,control_10,8,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
20,condition_21,13,2,35-39,2.0,2.0,1.0,6-10,2.0,2.0,26.0,21.0
52,control_30,9,2,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
48,control_26,13,1,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
42,control_20,13,1,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
5,condition_6,7,1,35-39,2.0,2.0,2.0,6-10,1.0,2.0,18.0,15.0
12,condition_13,14,2,35-39,1.0,2.0,2.0,11-15,2.0,2.0,18.0,13.0
0,condition_1,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19.0,19.0
38,control_16,13,2,40-44,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
1,condition_2,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24.0,11.0
11,condition_12,12,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,25.0,21.0
30,control_8,13,2,40-44,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
17,condition_18,13,2,40-44,3.0,2.0,2.0,11-15,2.0,2.0,18.0,15.0
15,condition_16,16,1,45-49,2.0,2.0,2.0,11-15,1.0,2.0,13.0,17.0
50,control_28,16,2,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
2,condition_3,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24.0,25.0
39,control_17,9,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
37,control_15,11,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
33,control_11,13,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
10,condition_11,14,1,45-49,2.0,2.0,2.0,6-10,1.0,2.0,24.0,24.0
9,condition_10,9,2,45-49,2.0,2.0,2.0,6-10,1.0,2.0,28.0,21.0
8,condition_9,13,2,45-49,1.0,NaN,2.0,6-10,1.0,2.0,26.0,26.0
4,condition_5,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26.0,26.0
35,control_13,13,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,control_19,13,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
16,condition_17,13,1,50-54,1.0,2.0,2.0,6-10,1.0,2.0,17.0,15.0
49,control_27,13,2,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
18,condition_19,13,2,50-54,2.0,2.0,1.0,16-20,2.0,2.0,26.0,21.0
36,control_14,13,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
51,control_29,13,2,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
43,control_21,8,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
14,condition_15,13,2,55-59,2.0,2.0,2.0,11-15,1.0,1.0,14.0,18.0
13,condition_14,14,1,60-64,1.0,2.0,2.0,6-10,2.0,2.0,28.0,19.0
34,control_12,14,1,60-64,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
47,control_25,13,1,65-69,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
21,condition_22,14,1,65-69,2.0,2.0,1.0,,2.0,2.0,29.0,28.0

# KONTROL GRUBUNUN VERLERN NCELYORUZ BUNA BALI OLARAK
#### Cinsiyet ve melankoli dalmn inceleyeceiz
#### ncelikle Verimizdeki NaN deerleri okuyalm

In [66]:
df["gender"].isnull().sum()

0

In [67]:
df["melanch"].isnull().sum()

35

#### Melanch kolonumuzda 35 tane NaN deerler var ve benim bunlar analiz edebilmem iin bu deerlerden kurtulmam gerekiyor
#### Ve kategorik deikeleri numeric deerler ile deitirmemiz gerekiyor

In [68]:
df["number"]

46      control_24
45      control_23
40      control_18
6      condition_7
29       control_7
53      control_31
54      control_32
3      condition_4
44      control_22
7      condition_8
23       control_1
28       control_6
26       control_4
27       control_5
19    condition_20
25       control_3
31       control_9
22    condition_23
24       control_2
32      control_10
20    condition_21
52      control_30
48      control_26
42      control_20
5      condition_6
12    condition_13
0      condition_1
38      control_16
1      condition_2
11    condition_12
30       control_8
17    condition_18
15    condition_16
50      control_28
2      condition_3
39      control_17
37      control_15
33      control_11
10    condition_11
9     condition_10
8      condition_9
4      condition_5
35      control_13
41      control_19
16    condition_17
49      control_27
18    condition_19
36      control_14
51      control_29
43      control_21
14    condition_15
13    condition_14
34      control_12
47      control_25
21    condition_22
Name: number, dtype: object

In [69]:
def train_cats(df):
    for n,c in df.items():
        if is_string_dtype(c):
            df[n]=c.astype("category").cat.as_ordered()

In [70]:
def apply_cats(df,train):
    for n,c in df.items():
        if train[n].dtype=="category":
            df[n]=pd.Categorical(c,categories=tran[n].categories,ordered=True)

In [71]:
train_cats(df)

In [72]:
df["number"]

46      control_24
45      control_23
40      control_18
6      condition_7
29       control_7
53      control_31
54      control_32
3      condition_4
44      control_22
7      condition_8
23       control_1
28       control_6
26       control_4
27       control_5
19    condition_20
25       control_3
31       control_9
22    condition_23
24       control_2
32      control_10
20    condition_21
52      control_30
48      control_26
42      control_20
5      condition_6
12    condition_13
0      condition_1
38      control_16
1      condition_2
11    condition_12
30       control_8
17    condition_18
15    condition_16
50      control_28
2      condition_3
39      control_17
37      control_15
33      control_11
10    condition_11
9     condition_10
8      condition_9
4      condition_5
35      control_13
41      control_19
16    condition_17
49      control_27
18    condition_19
36      control_14
51      control_29
43      control_21
14    condition_15
13    condition_14
34      control_12
47      control_25
21    condition_22
Name: number, dtype: category
Categories (55, object): ['condition_1' < 'condition_10' < 'condition_11' < 'condition_12' ... 'control_6' < 'control_7' < 'control_8' < 'control_9']

In [73]:
df["number"].cat.categories

Index(['condition_1', 'condition_10', 'condition_11', 'condition_12',
       'condition_13', 'condition_14', 'condition_15', 'condition_16',
       'condition_17', 'condition_18', 'condition_19', 'condition_2',
       'condition_20', 'condition_21', 'condition_22', 'condition_23',
       'condition_3', 'condition_4', 'condition_5', 'condition_6',
       'condition_7', 'condition_8', 'condition_9', 'control_1', 'control_10',
       'control_11', 'control_12', 'control_13', 'control_14', 'control_15',
       'control_16', 'control_17', 'control_18', 'control_19', 'control_2',
       'control_20', 'control_21', 'control_22', 'control_23', 'control_24',
       'control_25', 'control_26', 'control_27', 'control_28', 'control_29',
       'control_3', 'control_30', 'control_31', 'control_32', 'control_4',
       'control_5', 'control_6', 'control_7', 'control_8', 'control_9'],
      dtype='object')

In [74]:
df["number"].cat.codes

46    39
45    38
40    32
6     20
29    52
53    47
54    48
3     17
44    37
7     21
23    23
28    51
26    49
27    50
19    12
25    45
31    54
22    15
24    34
32    24
20    13
52    46
48    41
42    35
5     19
12     4
0      0
38    30
1     11
11     3
30    53
17     9
15     7
50    43
2     16
39    31
37    29
33    25
10     2
9      1
8     22
4     18
35    27
41    33
16     8
49    42
18    10
36    28
51    44
43    36
14     6
13     5
34    26
47    40
21    14
dtype: int8

In [75]:
def numericalize(df,col,name):
    if not is_numeric_dtype(col):
        df[name]=col.cat.codes+1

In [76]:
numericalize(df,df["number"],"number")

In [77]:
df["number"]

46    40
45    39
40    33
6     21
29    53
53    48
54    49
3     18
44    38
7     22
23    24
28    52
26    50
27    51
19    13
25    46
31    55
22    16
24    35
32    25
20    14
52    47
48    42
42    36
5     20
12     5
0      1
38    31
1     12
11     4
30    54
17    10
15     8
50    44
2     17
39    32
37    30
33    26
10     3
9      2
8     23
4     19
35    28
41    34
16     9
49    43
18    11
36    29
51    45
43    37
14     7
13     6
34    27
47    41
21    15
Name: number, dtype: int8

In [78]:
for n,c in df.items():
    if is_numeric_dtype(c):
        if df[n].isnull().sum():
            print(n)

afftype
melanch
inpatient
marriage
work
madrs1
madrs2

In [79]:
def fix_missing(df,col,name,nan_dict,is_train):
    if is_numeric_dtype(col):
        if pd.isnull(col).sum():
            df[name+"_na"]=pd.isnull(col)
            nan_dict[name]=col.median()
            df[name]=col.fillna(nan_dict[name])
    else:
        if is_numeric_dtype(col):
            if name in nan_dict:
                df[name+"_na"]=pd.isnull(col)
                df[name]=col.fillna(nan_dict[name])
            else:
                df[name]=col.fillna(df[name].median())

In [80]:
def numericalize(df,col,name):
    if not is_numeric_dtype(col):
        df[name]=col.cat.codes+1

In [81]:
def proc_df(df,y_fld,nan_dict=None,is_train=True):
    df=df.copy()
    y=df[y_fld].values
    
    df.drop(y_fld,axis=1,inplace=True)
    
    if nan_dict is None:
        nan_dict={}
    for n,c in df.items():
        fix_missing(df,c,n,nan_dict,is_train)
        numericalize(df,c,n)
    if is_train:
        return df,y,nan_dict
    return df,y

In [82]:
def split_train_val(df,n):
    return df[:n].copy(),df[n:].copy()

In [249]:
n_valid=27
n_train=len(df)-n_valid
raw_train,raw_valid=split_train_val(df,n_train)

In [250]:
x_train,y_train,nas=proc_df(raw_train,'days')
x_valid,y_valid=proc_df(raw_valid,'days',nan_dict=nas,is_train=False)

In [251]:
m=RandomForestRegressor(n_estimators=1,bootstrap=False,n_jobs=-1)
m.fit(x_train,y_train)
m.score(x_train,y_train)

1.0

In [252]:
def rmse(x,y):
    return math.sqrt(((x-y)**2).mean())

In [253]:
def print_score(m):
    print(f"RMSE of valid set {rmse(m.predict(x_valid),y_valid)}")
    print(f"R^2 of valid set {m.score(x_valid,y_valid)}")
    print(f"RMSE of train set {rmse(m.predict(x_train),y_train)}")
    print(f"R^2 of train set {m.score(x_train,y_train)}")

In [254]:
print_score(m)

RMSE of valid set 3.23751161874077
R^2 of valid set -1.597212780421482
RMSE of train set 0.0
R^2 of train set 1.0

In [255]:
m=RandomForestRegressor(n_estimators=10,bootstrap=False,n_jobs=-1)
%time m.fit(x_train,y_train)
print_score(m)

Wall time: 12 ms
RMSE of valid set 3.519995791243275
R^2 of valid set -2.0702175390890547
RMSE of train set 0.0
R^2 of train set 1.0

In [256]:
m=RandomForestRegressor(n_estimators=30,bootstrap=False,n_jobs=-1)
%time m.fit(x_train,y_train)
print_score(m)

Wall time: 22 ms
RMSE of valid set 3.4334292207633714
R^2 of valid set -1.9210639021074103
RMSE of train set 0.0
R^2 of train set 1.0

In [257]:
m=RandomForestRegressor(n_estimators=100,bootstrap=False,n_jobs=-1)
%time m.fit(x_train,y_train)
print_score(m)

Wall time: 62 ms
RMSE of valid set 3.3988293191539847
R^2 of valid set -1.8624873215499655
RMSE of train set 0.0
R^2 of train set 1.0

In [258]:
def get_sample(df,n):
    idxs=np.random.permutation(len(df))[:n]
    return idxs,df.iloc[idxs].copy()

In [259]:
idxs,x_train=get_sample(x_train,3000)
y_train=y_train[idxs]

In [261]:
m=RandomForestRegressor(n_estimators=700,n_jobs=-1)
%time m.fit(x_train,y_train)
print_score(m)

Wall time: 537 ms
RMSE of valid set 2.8509722122110728
R^2 of valid set -1.0140526928786469
RMSE of train set 1.1248513345244076
R^2 of train set 0.8384121564703418